html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  background: #333333;
  color: white;
  font-family: sans-serif;
  font-size: 1rem;
  overflow: hidden;
  width: 100%; }

input {
  border: none;
  max-width: 70px;
  outline: none; }

canvas {
  background: white;
  touch-action: none; }

.header {
  top: 0;
  right: auto;
  bottom: auto;
  left: auto;
  position: absolute;
  align-items: center;
  background: #333333;
  display: flex;
  height: auto;
  width: 100%;
  z-index: 1; }
  .header .menu-btn {
    padding: 0 2rem; }
    .header .menu-btn .bar1, .header .menu-btn .bar2, .header .menu-btn .bar3 {
      background: white;
      height: 0.2rem;
      width: 1rem;
      margin: 0.2rem 0; }
    .header .menu-btn .bar1 {
      width: 5px; }

.toolbox {
  top: 2.5rem;
  right: auto;
  bottom: auto;
  left: auto;
  position: absolute;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -ms-transition: transform 1s;
  transition: transform 1s;
  background: #333333;
  display: flex;
  flex-direction: column;
  padding: 10px;
  transform-origin: top; }

.hide {
  overflow: hidden;
  transform: scaleY(0); }

.show {
  transform: scaleY(1); }
